.mensaje-bienvenida {
    margin-top: 100px;
    text-align: center;
    font-size: x-large;
    color: blueviolet;
}

.mensaje-error {
    margin-top: 100px;
    text-align: center;
    font-size: x-large;
    color: red;
}